{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Exchange a Corporate Business Category Bootstrap responsive Website Template | Home :: gnlayouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Exchange Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- bootstrap-css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<!--// css -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<!-- banner -->
	<div class="banner jarallax">
		<div class="banner-dot">
			<div class="header-top">
				<div class="container">
					<div class="header-top-left">
						<p>&nbsp;</p>
					</div>
					<div class="gnlayouts-logo">
							<h1>
								<a href="/"><span style="color: #ff0000">GN </span> <span style="color: rgb(255, 255, 255)">Security </span> </a>
							</h1>
							<!-- <a href="index.html"><img src="./images/logo/GNS-Name-plate-f.png" style="width: 30%; height: 30%;" alt="" srcset=""></a> -->
						</div>
					<div class="header-top-right">
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
			<div class="header">
				<div class="container">
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!--navbar-header-->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="/" class="active">Home</a></li>
									<li><a href="/about/">About</a></li>
									<li><a href="/gallery/">Gallery</a></li>
									<!-- <li class=""><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Codes<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a class="hvr-bounce-to-bottom" href="icons.html">Icons</a></li>
											<li><a class="hvr-bounce-to-bottom" href="typography.html">Typography</a></li>          
										</ul>
									</li>	 -->
									<li><a href="/services/">Services</a></li>
									<li><a href="/contactus/">Contact Us</a></li>
								</ul>	
								<div class="clearfix"> </div>	
							</div>
						</nav>
					</div>
					<!-- <div class="wthreesearch">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="Search " required="">
							<button type="submit" class="btn btn-default search" aria-label="Left Align">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</form>
					</div> -->
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="gnlayouts-banner">
				<div class="container">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="agileits_gnlayouts_banner_info">
										<h3>Residential, Commercial & Event Security Services</h3>
										<p>We Provide Security Services That Matches Your Needs & Budget</p>
									</div>
								</li>
								<li>
									<div class="agileits_gnlayouts_banner_info">
										<h3>Industrial Security Services </h3>
										<p>GN Facilities is the best Industrial Security Services provider company in British  which provides a wide variety of Security Services for Industrial, Corporations and Manufacturing Companies.</p>
									</div>
								</li>
								<!-- <li>
									<div class="agileits_gnlayouts_banner_info">
										<h3>Curabitur diam lorem, ultricies </h3>
										<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
									</div>
								</li> -->
							</ul>
						</div>
				</section>
			<!-- flexSlider -->
					<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
			<!-- //flexSlider -->
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- abt-w3agile -->
	<div class="abt-w3agile">
		<div class="container">
			<h2 class="gnls_head">Operation Detail</h2>
			<p class="w3agile">Assurance of service of 365 days along with 24 hours anywhere.</p>
			<div class="abt-agile-info">
				<div class="col-md-4 abt-agile-info-left">
					<div class="agile-info-first">
						<i class="fa fa-cog icon featured" aria-hidden="true"></i>
						<h4>Daily Visit</h4>
						<p>Our Team conduct daily visits to check and monitor satisfactory conduct of daily work and to handle special day-to-day instructions from our Customers .</p>
					</div>
				</div>
				<div class="col-md-4 abt-agile-info-left">
					<div class="agile-info-middle">
						<i class="fa fa-flash icon featured" aria-hidden="true"></i>
						<h4>Night Shifts</h4>
						<p>Alternative night checks will be conducted by the Our Team or Area Manager. These will be at night Time</p>
					</div>
				</div>
				<div class="col-md-4 abt-agile-info-left">
					<div class="agile-info-last">
						<i class="fa fa-star icon featured" aria-hidden="true"></i>
						<h4>Surprise Visits</h4>
						<p>Our Area Manage These are carried out at random visit at least once a week, by Head of Origination .</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- //abt-w3agile -->
<!-- wthree-mid -->
	<div class="wthree-mid jarallax">
		<div class="container">
			<h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
			<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
		</div>
	</div>
<!-- //wthree-mid -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="gnls_head">What Our Customer Say</h3>
			<p class="w3agile">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
			<div class="testimonials-grids">
				<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="{% static 'images/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Richard Doe</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="{% static 'images/3.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Rita James</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
											<img src="{% static 'images/2.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Crisp Ali</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="{% static 'images/1.png' %}" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Laura roy</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
					</div>
				</div>
					<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
			</div>
		</div>
	</div>
<!-- //testimonials -->
<!-- services-bottom -->
	<div class="services-bottom jarallax">
		<div class="container">
			<div class="col-md-3 agileits_gnlayouts_about_counter_left">
				<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
				<p class="counter">343</p> 
				<h3>Satisfied Clients</h3>
			</div>
			<div class="col-md-3 agileits_gnlayouts_about_counter_left">
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				<p class="counter">216</p> 
				<h3>Projects Complete</h3>
			</div>
			<div class="col-md-3 agileits_gnlayouts_about_counter_left">
				<i class="fa fa-calendar" aria-hidden="true"></i>
				<p class="counter">854</p> 
				<h3>days of work</h3>
			</div>
			<div class="col-md-3 agileits_gnlayouts_about_counter_left">
				<i class="fa fa-life-ring" aria-hidden="true"></i>
				<p class="counter">564</p> 
				<h3>Support</h3>
			</div>
			<div class="clearfix"> </div>
			<!-- Stats-Number-Scroller-Animation-JavaScript -->
				<script src="{% static 'js/waypoints.min.js' %}"></script> 
				<script src="{% static 'js/counterup.min.js' %}"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 100,
							time: 1000
						});
					});
				</script>
			<!-- //Stats-Number-Scroller-Animation-JavaScript -->
		</div>
	</div>
<!-- //services-bottom -->
<!-- subscribe -->
	<div class="wthree-subscribe">
		<div class="container">
			<h3 class="gnls_head">Newsletter </h3>
			<p class="w3agile">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
			<div class="w3-agileits-subscribe-form">
				<form action="#" method="post">
					<input type="text" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
<!-- //subscribe -->
<!-- footer -->
	<div class="w3-agile-footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Address</h4>
					</div>
					<div class="footer-grid-info">
						<p>gnsecurity
							<span>9273-138ST SURREY BC V3V5W9.</span>
						</p>
						<p class="phone">Phone : +(1) 778 885-5759
							<span>Email : <a href="mailto:gnsecuri@gmail.com">gnsecuri@gmail.com</a></span>
						</p>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Navigation</h4>
					</div>
					<div class="footer-grid-info">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="/gallery/">Gallery</a></li>
							<li><a href="/services/">Services</a></li>
							<li><a href="/contactus/">Contact</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Follow</h4>
					</div>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits-gnlayouts-copyright">
				<p>© 2018 Exchange . All Rights Reserved </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
</body>	
</html>
