{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Exchange Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- bootstrap-css -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<!-- banner -->
	<div class="banner-1 jarallax">
		<div class="agileinfo-dot-1">
			<div class="header-top">
				<div class="container">
					<div class="header-top-left">
						<p>&nbsp;</p>
					</div>
					<div class="gnlayouts-logo">
							<h1>
								<a href="/"><span style="color: #ff0000">GN </span> <span style="color: rgb(255, 255, 255)">Security LIMITED</span> </a>
							</h1>
						</div>
					<div class="header-top-right">
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
			<div class="header">
				<div class="container">
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<!--navbar-header-->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="/">Home</a></li>
									<li><a href="/about/">About</a></li>
									<li><a href="/gallery/">Gallery</a></li>
									<li><a href="/services/" class="active">Services</a></li>
									<li><a href="/contactus/">Contact Us</a></li>
								</ul>	 
								<div class="clearfix"> </div>	
							</div>
						</nav>
					</div>
					<!-- <div class="wthreesearch">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="Search " required="">
							<button type="submit" class="btn btn-default search" aria-label="Left Align">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</form>
					</div> -->
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="gnlayouts_breadcrumbs_left">
				<ul>
					<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>/</span></li>
					<li><i class="fa fa-cogs" aria-hidden="true"></i>Services</li>
				</ul>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- services -->
	<div class="services">
		<div class="container">
			<h2 class="gnls_head">Our featured </h2>
			<p class="w3agile">For smooth and quality services,   Trustworthy support,   Innovative and thoughtful leadership,  Robust security operations and expertise,  Advanced security intelligence and analytic capabilities,  Economizing the efforts without compromise.</p>
			<div class="agileinfo_services_grids">
				<div class="col-md-4 agileinfo_services_grid" data-toggle="modal" data-target="#myModal">
					<div class="agileinfo_services_grid1">
						<h4>Security Guards</h4>
						<p>All of our certified security guards are well trained professional ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal2">
						<h4>Remote CCTV Monitoring</h4>
						<p> Video surveillance systems allow you to monitor sites remotely and respond ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal3">
						<h4>Access Control</h4>
						<p> Public access can quickly become bottleneck, while restricted areas require ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal4">
						<h4>Special Event Security</h4>
						<p>To ensure a safe environment, premises must be effectively controlled through the ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal5">
						<h4>Condo / Apartment Building Security</h4>
						<p>Your residents and guests deserve first-rate condo security and concierge services ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal6">
						<h4>Construction Security Services</h4>
						<p>After regular business hours, construction sites are deserted until the next work day ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_services_grids">
				<div class="col-md-4 agileinfo_services_grid">
					<div class="agileinfo_services_grid1" data-toggle="modal" data-target="#myModal7">
						<h4>Front Desk and Concierge Services</h4>
						<p>GN Security concierges are the face of your property and usually the first point ...</p>
						<div class="agileinfo_services_grid1_pos">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Security Guards</h4>
			</div>
			<div class="modal-body">
			  <p>All of our certified security guards are well trained professional to ensure the safety and security of your business operations. They help to maintain a safe environment after managing emergency situations. Rest assured that your people, property and assets are protected.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Remote CCTV Monitoring</h4>
			</div>
			<div class="modal-body">
			  <p> Video surveillance systems allow you to monitor sites remotely and respond properly and effectively to incidents that may arise day or night.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Access Control</h4>
			</div>
			<div class="modal-body">
			  <p>Public access can quickly become bottleneck, while restricted areas require special security protocols to ensure that only authorized persons can access them. Access control is essential to protect your property, management, staff and visitors and can be positioned statically to perform screening.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Special Event Security</h4>
			</div>
			<div class="modal-body">
			  <p>To ensure a safe environment, premises must be effectively controlled through the understanding of the location, identification of potential threats and challenges, and through planning based on the collected information.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Condo / Apartment Building Security</h4>
			</div>
			<div class="modal-body">
			  <p>Your residents and guests deserve first-rate condo security and concierge services. You can rely on our condo security experts to keep residents, guests and assets safe. Whether you are a property manager, a member of a condo board, or the owner of a residential complex, you know that everyone should feel comfortable in their homes, knowing their building is being watched over by security professionals.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Construction Security Services</h4>
			</div>
			<div class="modal-body">
			  <p>  After regular business hours, construction sites are deserted until the next work day. Expensive machinery and equipment are often left unguarded, leaving the site open to potential theft or vandalism. When materials and equipment are damaged or stolen, projects are delayed for an indefinite period of time, and unforeseen additional expenses can potentially arise, cutting into profit margins.  

				GN Security has built its construction security services expertise for construction sites. Our team combines extensive experience with the industry’s best practices to protect our client’s people and assets. Comprehensive construction security services include:</p>
				<ul>
					<li>Construction site surveillance</li>
					<li> Risk assessment</li>
					<li>Loss Prevention</li>
					<li>Mobile Patrols</li>
				</ul>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
	<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Front Desk and Concierge Services</h4>
			</div>
			<div class="modal-body">
			  <p>GN Security concierges are the face of your property and usually the first point of contact for the building’s residents, staff and guests.
				<br>
				<br>
				Security Guard services: Our licensed security guard duties include:</p>
				<ul>
					<li>Emergency response and First aid</li>
					<li>Scheduled perimeter patrols</li>
					<li> Security risk assessments</li>
					<li>Fire Safety ( Prevention and Protection)</li>
					<li>Security system monitoring ( CCTV, alarm panel, key control)</li>
				</ul>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>
<!-- //services -->
	<!-- <div class="wthree-mid jarallax">
		<div class="container">
			<h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
			<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
		</div>
	</div> -->
		
<!-- featured-services -->
	<!-- <div class="featured-services">
		<div class="container">
			<h3 class="gnls_head">Featured Services </h3>
			<p class="w3agile">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
			<div class="agileits_featured_services_grids">
				<div class="col-md-4 agileits_featured_services_grid">
					<img src="{% static 'images/s7.jpg' %}" alt=" " class="img-responsive" />
					<h4>fringilla magna sed aliquet</h4>
					<p>Morbi pretium faucibus tortor, nec malesuada purus pellentesque id. 
						Phasellus aliquet nibh metus pellentesque maximus ipsum turpis, sed blandit diam.</p>
					
				</div>
				<div class="col-md-4 agileits_featured_services_grid">
					<img src="{% static 'images/s8.jpg' %}" alt=" " class="img-responsive" />
					<h4>pellentesque maximus ipsum</h4>
					<p>Morbi pretium faucibus tortor, nec malesuada purus pellentesque id. 
						Phasellus aliquet nibh metus pellentesque maximus ipsum turpis, sed blandit diam.</p>
					
				</div>
				<div class="col-md-4 agileits_featured_services_grid">
					<img src="{% static 'images/s9.jpg' %}" alt=" " class="img-responsive" />
					<h4>nec malesuada purus aliquet</h4>
					<p>Morbi pretium faucibus tortor, nec malesuada purus pellentesque id. 
						Phasellus aliquet nibh metus pellentesque maximus ipsum turpis, sed blandit diam.</p>
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> -->
<!-- //featured-services -->
<!-- footer -->
	<div class="w3-agile-footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Address</h4>
					</div>
					<div class="footer-grid-info">
						<p>GN SECURITY
							<span>9273-138 Street Surrey BC V3V 5W9.</span>
						</p>
						<p class="phone">Phone : +(1) 778 885-5759
							<span>Email : <a href="mailto:gnsecuri@gmail.com">gnsecuri@gmail.com</a></span>
						</p>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Navigation</h4>
					</div>
					<div class="footer-grid-info">
						<ul >
							<li ><a href="/">Home</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="/gallery/">Gallery</a></li>
							<li><a href="/contactus/">Contact</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-heading">
						<h4>Follow</h4>
					</div>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileits-gnlayouts-copyright">
				<p>© 2022 gn security . All Rights Reserved </p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
</body>	
</html>